<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lit.original">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Make1Activity"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity android:name=".Make2Activity" />
        <activity android:name=".Make3Activity" />
        <activity android:name=".Make4Activity" />
        <activity android:name=".Make5Activity" />
        <activity android:name=".Make6Activity" />
        <activity android:name=".Make7Activity" />
        <activity android:name=".Make8Activity" />
        <activity android:name=".Make9Activity" />
        <activity android:name=".Make10Activity" />
        <activity android:name=".BackGround0Activity" />
        <activity android:name=".BackGroundA1Activity" />
        <activity android:name=".BackGroundA2Activity" />
        <activity android:name=".BackGroundA3Activity" />
        <activity android:name=".BackGroundA4Activity" />
        <activity android:name=".BackGroundB1Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".BackGroundB2Activity" />
        <activity android:name=".BackGroundC1Activity" />
        <activity android:name=".BackGroundC2Activity" />
        <activity android:name=".BackGroundD1Activity" />
        <activity android:name=".BackGroundD2Activity" />
        <activity android:name=".BackGroundE1Activity" />
        <activity android:name=".BackGroundE2Activity" />
        <activity android:name=".BackGroundF1Activity" />
        <activity android:name=".BackGroundF2Activity" />
        <activity android:name=".BackGroundF3Activity" />
        <activity android:name=".BackGroundG1Activity" />
        <activity android:name=".BackGroundG2Activity" />
        <activity android:name=".BackGroundH1Activity" />
        <activity android:name=".BackGroundH2Activity" />
        <activity android:name=".BackGroundH3Activity" />
        <activity android:name=".BackGroundI1Activity" />
        <activity android:name=".BackGroundI2Activity" />
        <activity android:name=".BackGroundI3Activity" />
        <activity android:name=".BackGroundJ1Activity" />
        <activity android:name=".BackGroundJ2Activity" />
        <activity android:name=".BackGroundJ3Activity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".SaveActivity" />
        <activity android:name=".PinActivity" />
        <activity android:name=".FileActivity"></activity>
    </application>

</manifest>